# OS / editor junk
*.log
*.zip
.DS_Store
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.pyc

# Local servers
.venv/
.env

# Live secrets — created by hand on the server, never committed
subscribe-config.php

# IDE
.vscode/
.idea/
*.swp
